<!DOCTYPE html>
<html lang="pl_PL">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>NoteeFY</title>
    
    @Styles.Render("~/bundles/css")

</head>
<body>

@*To tutaj musi zostać bo incaczej nie mozna sie wylogowac (Workarund still in progres)*@
<div style="display: none;">@Html.Partial("_LoginPartial")</div>
<div>
    @RenderBody()
</div>

@RenderSection("scripts", required: false)
</body>
</html>
