body {
  background-color: #ebebeb;
  }

.register-control {
    width: 300px;
}

.loading-window{
   position: absolute;
   width: 100%;
   height: 100%;
   background: #000000 ;
   opacity:0.65;
}

#login-window{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    width: 400px;
    height: 500px;
    border-radius: 15px 50px;
    background: #A1D490;
    padding: 20px;
}

#busy-indicator{
   position: absolute;
   top: 45%;
   left: 50%;
   margin-top: -75px;
   margin-left: -75px;
   width: 150px;
   height: 150px;
}

.single-note{
    margin-bottom: 15px;
    width: 390px;
    border-radius: 15px 15px;
    background: #FBEA6E;
    padding: 20px;
}

.notepad {
    margin: 0 auto;
}

.note-title {
    height: 60px;
    display: inline-block;
}

.note-title-span{
   display: inline-block; 
   width: 320px; 
   height: 59px; 
   font-weight: bold;   
   padding: 7px 0 0 12px;
   word-wrap: break-word;
}

.note-title-input{
    border: none;
    width: 350px; 
    background: #FBEA6E;
    font-weight: bold;
}

.note-content {
    min-height: 55px;
}


.note-content-span{
   display: inline-block; 
   overflow: auto; 
   word-wrap:break-word;
   width: 350px; 
   padding: 6px 0 0 12px;
   text-align: justify;
}

.note-content-textarea{
    border: none;
    overflow:hidden;    
    background: #FBEA6E;
    resize: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

.tasks-textarea {
    border: none;
    overflow:hidden;    
    background: #FBEA6E;
    resize: none;
    }

.single-task {
    width: 350px;
}

.tasks{
    float: left;
    width: 370px;
    overflow: auto;
}

.menu {
    visibility: hidden;
}

.single-note:hover .menu {
    visibility: visible;
}   

.btn {
    padding: 1px 6px;
    margin: 0 0 0 0;
}

.adding {
    width:320px
}

.li-padding-custom{
    padding-right : 10px !important
}

.plus {
    padding-left : 7px !important
}

.modal-button {
    border: none;
}

.locker {
    position: absolute;
    left: 350px;
}

.google-button {
	-moz-box-shadow:inset 0 1px 10px 0 #f29c93;
	-webkit-box-shadow:inset 0 1px 10px 0 #f29c93;
	box-shadow:inset 0 1px 10px 0 #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	border:2px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 50px;
	text-decoration:none;
	text-shadow:0 0 0 #b23e35;
    width: 100%;
}

.google-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}

.google-button:active {
	position:relative;
	top:1px;
}

.add-user-button {
	-moz-box-shadow:inset 0 1px 10px 0 #9fb4f2;
	-webkit-box-shadow:inset 0 1px 10px 0 #9fb4f2;
	box-shadow:inset 0 1px 10px 0 #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	border:2px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 50px;
	text-decoration:none;
	text-shadow:0 0 0 #283966;
    width: 100%;
}

.add-user-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

.add-user-button:active {
	position:relative;
	top:1px;
}

.login-button {
	-moz-box-shadow:inset 0 0 0 0 #a4e271;
	-webkit-box-shadow:inset 0 0 0 0 #a4e271;
	box-shadow:inset 0 0 0 0 #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	border:2px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 50px;
	text-decoration:none;
	text-shadow:0 1px 0 #528009;
    width: 100%;
}
.login-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.login-button:active {
	position:relative;
	top:1px;
}

.li-padding-custom{
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.image-resized {
    max-height: 300px;
    max-width: 300px;
    min-width: 100px;
    width:100%;
    height: auto;
}

.form-control-reg{
    width: 30%;
}